div {
    position: sticky;
    top: 10px;
    background-color: rgb(214, 226, 43);
    border: 2px solid black;
    font-size: x-large;
    padding: 20px;
}

h1 {
    background-color: rgb(255, 51, 0);
    border: 2px solid black;
    font-size: xx-large;
    text-align: center;
    padding: 30px;
}

p::before {
    content: '\2706';
}

p {
    font-size: larger;
    background-color: rgb(242, 250, 220);
}